/* :root {
    --container-padding: 12px;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 4px;
    --input-margin-horizontal: 0;
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    padding: 0 var(--container-padding);
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
  }
  
  ol,
  ul {
    padding-left: var(--container-padding);
  }
  
  body > *,
  form > * {
    margin-block-start: var(--input-margin-vertical);
    margin-block-end: var(--input-margin-vertical);
  }
  
  *:focus {
    outline-color: var(--vscode-focusBorder) !important;
  }
  
  a {
    color: var(--vscode-textLink-foreground);
  }
  
  a:hover,
  a:active {
    color: var(--vscode-textLink-activeForeground);
  }
  
  code {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
  }

  .grid-container {
    width: var(--screen-width, 100px);
    height: auto; 
    display: flex;
    flex-wrap: none;
    margin: 0 auto;
  }
  
  .pixel {
    width: var(--pixel-size, 3px);
    height: var(--pixel-size, 3px);
  }
  
  input::placeholder,
  textarea::placeholder {
    color: var(--vscode-input-placeholderForeground);
  }

